<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <script src="../../../JS/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../../modais/css/styles-of-modals.css">

    <title>Document</title>
</head>
<body>
    <div class="row">
            <div class="col-11 col-top">
                <h2 class="SERIETURMA">6º  Ano - A</h2>
            </div>
            <div class="col-1 col-top"> 
                <a href="../../../class-selection.html"><span class="material-icons-outlined close-prontuario-page">
                    highlight_off
                    </span></a>
            </div>
    </div>
        
            <div class="row row-prontuario">
                <header>
                   
                    <!-- migalha de pão -->
                    <div id="fundo-navegação">
                        <nav aria-label="breadcrumb" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a class="item-1-miganha" href="../../../class-selection.html">Notas</a></li>
                                <li>
                                    <span class="material-icons-next">
                                        navigate_next
                                    </span>
                                </li>
                              <li class="breadcrumb-item" aria-current="page"><a class="item-2-miganha" href="../grid-students.html">Lista de Alunos</a></li>
                              <li>
                                <span class="material-icons-next">
                                    navigate_next
                                </span>
                            </li>
                          <li class="breadcrumb-item active" aria-current="page">Prontuário</li>
                            </ol>
                          </nav>
                    </div>
                </header>
                <div class="row">
                    <!-- internal row -->
                    <!-- prontuario card -->
                    <div class="card col-4 col-combo mx-auto">
                        <br>
                        
                        <div class="col-top row">
                            <div class="col-10 data-prontuario"> &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp 24/03/2022</div>
                            <div class="col-2 edit-prontuario" data-bs-toggle="modal" data-bs-target="#modal_prontuario">edit</div>
                        </div>
                        <label for="tema" class="label-prontuario">Prontuário:</label>
                        <div class="tema">ACOMPANHAMENTO DEFICIÊNCIA</div>
                        <br>
                        <label for="tema" class="label-ocorrencia-prontuario">Ocorrência do Prontuário:</label>
                        <div class="tema">ACOMPANHAMENTO  FONOAUDIOLOGIA</div>
                        <br>
                        <label for="tema" class="label-gravidade">Gravidade :</label>
                        <div class="tema">ALTA GRAVIDADE</div>
                        <br>
                        <div class="detalhe-prontuario"><a id="detalhe-prontuario">Detalhes da ocorrência:</a></div>
                        <br>
                        <div>Amet minim mollit non deserunt ullamco est sit 
                            aliqua dolor do amet sint. Velit officia consequat
                            duis enim velit mollit. Exercitation veniam consequat
                            sunt nostrud amet.</div>
                        <br>
                    </div> 
                    <!-- prontuario card -->
                    <!-- prontuario card -->
                    <div class="card col-4 col-combo mx-auto">
                        <br>
                        
                        <div class="col-top row">
                            <div class="col-10 data-prontuario"> &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp 24/03/2022</div>
                            <div class="col-2 edit-prontuario">edit</div>
                        </div>
                        <label for="tema" class="label-prontuario">Prontuário:</label>
                        <div class="tema">ACOMPANHAMENTO DEFICIÊNCIA</div>
                        <br>
                        <label for="tema" class="label-ocorrencia-prontuario">Ocorrência do Prontuário:</label>
                        <div class="tema">ACOMPANHAMENTO  FONOAUDIOLOGIA</div>
                        <br>
                        <label for="tema" class="label-gravidade">Gravidade :</label>
                        <div class="tema">ALTA GRAVIDADE</div>
                        <br>
                        <div class="detalhe-prontuario"><a id="detalhe-prontuario">Detalhes da ocorrência:</a></div>
                        <br>
                        <div>Amet minim mollit non deserunt ullamco est sit 
                            aliqua dolor do amet sint. Velit officia consequat
                            duis enim velit mollit. Exercitation veniam consequat
                            sunt nostrud amet.</div>
                        <br>
                    </div> 
                    <!-- prontuario card -->
                    <!-- prontuario card -->
                    <div class="card col-4 col-combo mx-auto">
                        <br>
                        
                        <div class="col-top row">
                            <div class="col-10 data-prontuario"> &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp 24/03/2022</div>
                            <div class="col-2 edit-prontuario">edit</div>
                        </div>
                        <label for="tema" class="label-prontuario">Prontuário:</label>
                        <div class="tema">ACOMPANHAMENTO DEFICIÊNCIA</div>
                        <br>
                        <label for="tema" class="label-ocorrencia-prontuario">Ocorrência do Prontuário:</label>
                        <div class="tema">ACOMPANHAMENTO  FONOAUDIOLOGIA</div>
                        <br>
                        <label for="tema" class="label-gravidade">Gravidade :</label>
                        <div class="tema">ALTA GRAVIDADE</div>
                        <br>
                        <div class="detalhe-prontuario col-12">
                            <a id="detalhe-ocorrencia-bar">Detalhes da ocorrência:</a>
                        </div>
                        <br>
                        <div class="detalhe-ocorrencia">
                            Amet minim mollit non deserunt ullamco est sit 
                            aliqua dolor do amet sint. Velit officia consequat
                            duis enim velit mollit. Exercitation veniam consequat
                            sunt nostrud amet.
                        </div>
                        <br>
                    </div> 
                    <!-- prontuario card -->
                    <!-- prontuario card -->
                    <div class="card col-4 col-combo mx-auto">
                        <br>
                        
                        <div class="col-top row">
                            <div class="col-10 data-prontuario"> &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp 24/03/2022</div>
                            <div class="col-2 edit-prontuario">edit</div>
                        </div>
                        <label for="tema" class="label-prontuario">Prontuário:</label>
                        <div class="tema">ACOMPANHAMENTO DEFICIÊNCIA</div>
                        <br>
                        <label for="tema" class="label-ocorrencia-prontuario">Ocorrência do Prontuário:</label>
                        <div class="tema">ACOMPANHAMENTO  FONOAUDIOLOGIA</div>
                        <br>
                        <label for="tema" class="label-gravidade">Gravidade :</label>
                        <div class="tema">ALTA GRAVIDADE</div>
                        <br>
                        <div class="detalhe-prontuario"><a id="detalhe-prontuario">Detalhes da ocorrência:</a></div>
                        <br>
                        <div>Amet minim mollit non deserunt ullamco est sit 
                            aliqua dolor do amet sint. Velit officia consequat
                            duis enim velit mollit. Exercitation veniam consequat
                            sunt nostrud amet.</div>
                        <br>
                    </div> 
                    <!-- prontuario card -->
                    <!-- prontuario card -->
                    <div class="card col-4 col-combo mx-auto">
                        <br>
                        
                        <div class="col-top row">
                            <div class="col-10 data-prontuario"> &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp 24/03/2022</div>
                            <div class="col-2 edit-prontuario">edit</div>
                        </div>
                        <label for="tema" class="label-prontuario">Prontuário:</label>
                        <div class="tema">ACOMPANHAMENTO DEFICIÊNCIA</div>
                        <br>
                        <label for="tema" class="label-ocorrencia-prontuario">Ocorrência do Prontuário:</label>
                        <div class="tema">ACOMPANHAMENTO  FONOAUDIOLOGIA</div>
                        <br>
                        <label for="tema" class="label-gravidade">Gravidade :</label>
                        <div class="tema">ALTA GRAVIDADE</div>
                        <br>
                        <div class="detalhe-prontuario"><a id="detalhe-prontuario">Detalhes da ocorrência:</a></div>
                        <br>
                        <div>Amet minim mollit non deserunt ullamco est sit 
                            aliqua dolor do amet sint. Velit officia consequat
                            duis enim velit mollit. Exercitation veniam consequat
                            sunt nostrud amet.</div>
                        <br>
                    </div> 
                    <!-- prontuario card -->
                    <!-- prontuario card -->
                    <div class="card col-4 col-combo mx-auto">
                        <br>
                        
                        <div class="col-top row">
                            <div class="col-10 data-prontuario"> &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp  &nbsp 24/03/2022</div>
                            <div class="col-2 edit-prontuario">edit</div>
                        </div>
                        <label for="tema" class="label-prontuario">Prontuário:</label>
                        <div class="tema">ACOMPANHAMENTO DEFICIÊNCIA</div>
                        <br>
                        <label for="tema" class="label-ocorrencia-prontuario">Ocorrência do Prontuário:</label>
                        <div class="tema">ACOMPANHAMENTO  FONOAUDIOLOGIA</div>
                        <br>
                        <label for="tema" class="label-gravidade">Gravidade :</label>
                        <div class="tema">ALTA GRAVIDADE</div>
                        <br>
                        <div class="detalhe-prontuario col-12">
                            <a id="detalhe-ocorrencia-bar">Detalhes da ocorrência:</a>
                        </div>
                        <br>
                        <div class="detalhe-ocorrencia">
                            Amet minim mollit non deserunt ullamco est sit 
                            aliqua dolor do amet sint. Velit officia consequat
                            duis enim velit mollit. Exercitation veniam consequat
                            sunt nostrud amet.
                        </div>
                        <br>
                    </div> 
                    <!-- prontuario card -->
                    <!-- internal row -->
                </div>
            </div>
            
        
</body>
</html>
<!-- Modal prontuário -->
<div class="modal fade" id="modal_prontuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLabel" style="text-align: center; border: none; margin: 0 auto;">Prontuário do Aluno</h5>
        </div>
        <p style="text-align: center;"><strong>LUKAS SILVA E SILVA</strong></p>
        <div class="modal-body">
            
            <label class="label-pront" for="btn-prontuario">Prontuário</label>
            <select name="" class="btn-prontuario">
              <option value="0">Selecione um Prontuário</option>
              <option value="1">PRONTUÁRIO A</option>
              <option value="2">PRONTUÁRIO B</option>
              <option value="3">PRONTUÁRIO C</option>
              <option value="4">PRONTUÁRIO D</option>
            </select>
            <br>
            <br>
            
            <label class="label-pront" for="btn-ocorrencia">Ocorrência do Prontuário</label>
            <select name="" class="btn-ocorrencia">
              <option value="0">Selecione uma Ocorrência do Prontuário</option>
              <option value="1">Ocorrência do Prontuário A</option>
              <option value="2">Ocorrência do Prontuário B</option>
              <option value="3">Ocorrência do Prontuário C</option>
              <option value="4">Ocorrência do Prontuário D</option>
            </select>
           <br>
           <br>
          
            <div>
                <div style="width: 3%; float: left; width: 50%;">
                  <label class="label-grav" for="btn-gravidade">Gravidade</label>
                  <select name="" class="btn-gravidade" >
                    <option value="0">Qual a Gravidade do caso</option>
                    <option value="1">Leve</option>
                    <option value="2">Mediano</option>
                    <option value="3">Grave</option>
                    <option value="4">Risco de Vida</option>
                  </select>
                </div>
                <div style="width: 40%; float: right; width: 50%;">
                  <label class="label-evo" for="btn-gravidade">Evolução</label>
                  <select name="" class="btn-evolucao" >
                    <option value="0">Qual a Evolução do caso</option>
                    <option value="1">Evolução Mediana</option>
                    <option value="2">Evolução Boa</option>
                    <option value="3">Evolução ótima</option>
                    <option value="4">Curado</option>
                  </select>
                </div>
            </div>
            <p>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</p>
            <label>Detalhes da Ocorrência:</label>
            <textarea id="detalhe_ocorrencia" name="" id="" cols="30" rows="10" style="width: 100%;"></textarea>
        </div>
            <div style="text-align: center;">
                <button id="save_prontuario" type="button" class="btn btn-outline" style="width: 30%;">salvar</button>
                <p></p>
                <button id="cancel_changes" type="button" class="btn btn-outline" data-bs-dismiss="modal" style="width: 30%;">Cancelar</button>
                <p></p>
            </div>
      </div>
    </div>
  </div>
  <!-- Modal prontuário -->